@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&display=swap");

.body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  text-align: center;
}

.home-img-spc {
  padding: 40px 40px;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgb(206, 250, 247);
  font-family: "Roboto", sans-serif;
}

.home {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  color: black;
  border-style: double;
  padding: 5px;
}

.title {
  display: flex;
  font-weight: 100;
  font-size: 40px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  letter-spacing: 10px;
}

h4 {
  text-align: center;
}

.pg-titles {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding-top: 25px;
  letter-spacing: 3px;
}

.winter-desc,
.summer-desc,
.spring-desc,
.autumn-desc {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border: dashed rgb(206, 250, 247);
  padding: 10px;
  width: 45%;
  margin: 0px auto;
}

.add-link1,
.add-link2 {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

h5 {
  text-align: right;
}

.home-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-top: 5px;
  width: 45%;
  margin: 0px auto;
  border-top: solid rgb(206, 250, 247);
  border-bottom: solid rgb(206, 250, 247);
}

.selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.form-sent1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding-top: 10px;
}

.form-sent2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.form {
  border-radius: 5px;
  background-image: url("");
  padding: 20px;
}

select {
  width: 34.5%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 7px;
}

input[type="text"] {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 20px auto;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 7px;
}

.form-btn {
  background-color: rgb(206, 250, 247);
  padding: 8px 18px;
  border-radius: 12px;
}

.form-btn:hover {
  background-color: rgb(130, 247, 239);
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgb(206, 250, 247);
}

.footer-name {
  text-align: left;
}

.icons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  height: 40px;
  padding: 10px;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  align-items: center;
  height: 50px;
}
