.body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgb(206, 250, 247);
  font-family: "Roboto", sans-serif;
}

.home {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  color: black;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 40px;
}

/* .home-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
/* align-items: center;
} */

h1,
h2,
h4 {
  text-align: center;
}

.home-imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 100px;
}

.pg-titles {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding-top: 25px;
}

.add-link,
.pg-sentence {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.footer-name {
  text-align: left;
}

h5 {
  text-align: right;
}

.add-link {
  text-align: center;
}

.home-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.home-intro2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 20px;
}

.selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-weight: bold;
}

.form {
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  height: 40px;
  padding: 10px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgb(206, 250, 247);
}

.footer-info {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  align-items: center;
  height: 50px;
}
